[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all
Actions=openInNeovim;

[Desktop Action openInNeovim]
Name=Open in Neovim
Name[es]=Abrir en Neovim
Exec=env WEZTERM_NVIM=1 wezterm start --class neovim --always-new-process -- nvim %F
Icon=neovim
